In [13]:
import pandas as pd
import sys

In [14]:
data2load = pd.read_csv('/Users/dhewitt/OneDrive - Nexus365/Data/TTC/TTC_STAI.csv')
inputs = pd.DataFrame(data2load)
inputs.head()

,ID,STAI_1,STAI_2,STAI_3,STAI_4,STAI_5,STAI_6,STAI_7,STAI_8,STAI_9,...,STAI_31,STAI_32,STAI_33,STAI_34,STAI_35,STAI_36,STAI_37,STAI_38,STAI_39,STAI_40
0,22,2,4,2,3,4,1.0,1,3.0,1,...,2,3,2,2.0,2,2,3,4,3,3
1,1,3,4,2,2,3,1.0,1,3.0,1,...,1,1,3,3.0,1,3,1,1,3,1
2,2,3,3,1,1,3,1.0,1,3.0,1,...,2,4,2,2.0,4,3,3,3,2,3
3,3,2,4,3,2,4,1.0,1,4.0,1,...,1,4,3,1.0,2,4,2,3,2,2
4,4,4,4,1,1,4,1.0,1,NaN,1,...,1,2,4,NaN,1,4,1,1,4,1

In [17]:
import pandas as pd

def stai(input_data):
    stai_state_keys = ['STAI_3', 'STAI_4', 'STAI_6', 'STAI_7', 'STAI_9', 'STAI_12', 'STAI_13', 'STAI_14', 'STAI_17', 'STAI_18']
    stai_state_rev_keys = ['STAI_1', 'STAI_2', 'STAI_5', 'STAI_8', 'STAI_10', 'STAI_11', 'STAI_15', 'STAI_16', 'STAI_19', 'STAI_20']
    stai_trait_keys = ['STAI_22', 'STAI_24', 'STAI_25', 'STAI_28', 'STAI_29', 'STAI_31', 'STAI_32', 'STAI_35', 'STAI_37', 'STAI_38', 'STAI_40']
    stai_trait_rev_keys = ['STAI_21', 'STAI_23', 'STAI_26', 'STAI_27', 'STAI_30', 'STAI_33', 'STAI_34', 'STAI_36', 'STAI_39']

    def reverse_and_sum(data, keys, rev_keys):
        reversed_data = data[rev_keys].replace({4: 1, 3: 2, 2: 3, 1: 4})
        return data[keys].sum(axis=1), reversed_data.sum(axis=1)

    trait_score, trait_rev_score = reverse_and_sum(input_data, stai_trait_keys, stai_trait_rev_keys)
    state_score, state_rev_score = reverse_and_sum(input_data, stai_state_keys, stai_state_rev_keys)

    total_trait_score = trait_score + trait_rev_score
    total_state_score = state_score + state_rev_score
    
    staitraitall = pd.DataFrame({'STAI_Trait_Score': total_trait_score})
    staistateall = pd.DataFrame({'STAI_State_Score': total_state_score})

    result = pd.concat([input_data['ID'], staistateall, staitraitall], axis=1)

    return result


result = stai(data2load)
result.head()

   ID  STAI_State_Score  STAI_Trait_Score
0  22              34.0              53.0
1   1              32.0              31.0
2   2              35.0              58.0
3   3              34.0              46.0
4   4              22.0              22.0

In [18]:
result.to_csv('/Users/dhewitt/OneDrive - Nexus365/Data/TTC/TTC_STAI_Summed.csv')